@use '/src/styles/constants/colors';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 60px 20px 30px;

  svg {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 50px;
    height: 50px;
  }

  .number {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: colors.$GRAY3;
  }

  .title {
    margin-bottom: 18px;
    font-size: larger;
    font-weight: 500;

    &.list1 {
      color: colors.$GREEN;
    }

    &.list2 {
      color: colors.$PURPLE;
    }

    &.list3 {
      color: colors.$BLUE;
    }

    &.list4 {
      color: colors.$LIGHTBLUE;
    }

    &.list5 {
      color: colors.$PURPLE;
    }

    &.list6 {
      color: colors.$ORANGE;
    }

    &.list7 {
      color: colors.$CRIMSON;
    }

    &.list8 {
      color: colors.$TURQUOISE;
    }
  }

  .intro {
    margin-bottom: 10px;

    strong {
      font-weight: bold;
    }
  }

  .coverage {
    margin-bottom: 10px;
    color: colors.$GRAYA;
  }

  .tags {
    display: flex;
    margin-bottom: 2rem;

    .tag {
      padding: 8px 9px;
      margin-right: 8px;
      font-size: 14px;
      color: colors.$GRAY6;
      word-break: break-all;
      background-color: #eeeeee;
      border-radius: 15px;
    }

    .tag:first-child {
      background-color: colors.$PINK;
    }
  }

  hr {
    border: 1px solid colors.$MAIN;
    border-radius: 5px;
  }

  .subTitle {
    margin: 15px 0;
    color: colors.$GREEN;

    &.list1 {
      color: colors.$GREEN;
    }

    &.list2 {
      color: colors.$PURPLE;
    }

    &.list3 {
      color: colors.$BLUE;
    }

    &.list4 {
      color: colors.$LIGHTBLUE;
    }

    &.list5 {
      color: colors.$PURPLE;
    }

    &.list6 {
      color: colors.$ORANGE;
    }

    &.list7 {
      color: colors.$CRIMSON;
    }

    &.list8 {
      color: colors.$TURQUOISE;
    }
  }

  .textLists {
    padding-left: 20px;

    .textLi {
      margin-bottom: 15px;
      line-height: 22px;
      color: colors.$GRAY3;
      list-style: outside;
    }
  }
}
