$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #af9797;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

$MAIN: #fed303;
$SECONDARY: #fff5c5;

$GRAPH_ORANGE: #fe833d;
$GRAPH_YELLO: #fed303;
$GRAPH_GRAY: #e7e7e7;
$BORDER_GRAY: #666666;
$MAIN: #ffd301;

// 맞춤 건강관리 컴포넌트 색깔
$GREEN: green;
$PURPLE: #c63de8;
$LIGHTBLUE: #529bfd;
$BLUE: #738dfc;
$ORANGE: orange;
$CRIMSON: crimson;
$TURQUOISE: turquoise;
$PINK: #fee0d7;
