@use '/src/styles/constants/colors';

.layout {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: colors.$GRAYD;

  .main {
    width: 360px;
    overflow: scroll;
    background-color: white;
  }
}
