@use '/src/styles/constants/colors';

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dddddd;

  .main {
    width: 360px;
    height: 690px;
    overflow: scroll;
    background-color: white;
    border-radius: 30px;
  }
}
