@use '/src/styles/constants/colors';

.healthWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0;

  h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    color: colors.$GRAY3;

    & mark {
      background: linear-gradient(to top, colors.$MAIN 50%, transparent 50%);
    }
  }

  // .number {
  //   margin-bottom: 10px;
  //   font-size: x-large;
  //   font-weight: 600;
  // }

  // .title {
  //   margin-bottom: 10px;
  //   font-size: larger;
  //   font-weight: 500;
  //   color: colors.$GREEN;
  // }

  // .intro {
  //   margin-bottom: 10px;

  //   strong {
  //     font-weight: bold;
  //   }
  // }

  // .coverage {
  //   margin-bottom: 10px;
  //   color: colors.$GRAYA;
  // }

  // .tags {
  //   display: flex;
  //   justify-content: space-around;
  //   margin-bottom: 2rem;

  //   .tag {
  //     padding: 5px 10px;
  //     word-break: break-all;
  //     background-color: #eeeeee;
  //     border-radius: 15px;
  //   }

  //   .tag:first-child {
  //     background-color: pink;
  //   }
  // }

  // .subTitle {
  //   margin: 15px 0;
  //   color: colors.$GREEN;
  // }

  // .textLists {
  //   // padding: 0 20px;

  //   .textli {
  //     margin-bottom: 10px;
  //     list-style: outside;
  //   }
  // }
}
