@use '/src/styles/constants/colors';

.userHealthInfoWrapper {
  background-color: colors.$MAIN;

  .title {
    padding: 30px;
    font-size: 18px;
    font-weight: 700;
    color: colors.$GRAY3;
  }

  .healthScoreWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 20px;
    background-color: colors.$WHITE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .healthScoreTitle {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-weight: 600;
      color: colors.$GRAY3;

      h1 {
        margin-right: 5px;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .healthScore {
      width: 80%;
      height: 150px;
    }

    p {
      padding: 10px;
      font-size: 12px;
      color: colors.$GRAYA;
    }

    .healthResult {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 500;
    }

    .userInfo {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 18px 15px;
      margin-bottom: 25px;
      color: colors.$GRAY6;
      background-color: colors.$SECONDARY;
      border-radius: 10px;

      .userInfoDetail {
        display: flex;

        :nth-child(1) {
          &::before {
            border: none;
          }
        }

        dd {
          padding: 0 5px;

          &::before {
            padding-left: 10px;
            content: '';
            border-left: 1px solid colors.$GRAYA;
          }
        }
      }

      dt,
      dd {
        font-size: 14px;
      }
    }
  }

  .toTopBtn {
    position: absolute;
    bottom: 40px;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin-left: 280px;
    background-color: colors.$GRAYE;
    border-radius: 50%;
  }
}
